.table .thead-purple th {
    color: #fff;
    background-color:purple;
    border-color: #454d55;
  }
  

  .bg-light {
    background-color: rgb(239, 241, 241) !important;
  }
  
  a.bg-light:hover, a.bg-light:focus,
  button.bg-light:hover,
  button.bg-light:focus {
    background-color: #dae0e5 !important;
  }

  .btn-outline-success {
    color:purple;
    border-color:purple;
  }
  
  .btn-outline-success:hover {
    color: #fff;
    /* background-color: #28a745; */
    background-color:purple;
    border-color: purple;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:purple;
    background-color:white;
    background-clip: padding-box;
    border: 1px solid purple;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  

  .navbar-light .navbar-nav .nav-link {
    /* color: rgba(0, 0, 0, 0.9); */
    color: purple;
  }

  